.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}