.create-comm-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    margin-top: 60px;
    border-radius: 4px;
    /* padding-left: 100px; */
    width: 555px;
    height: 550px;
}

.community-type {
    display: flex;
    flex-direction: column;
}

.modal-label {
    display: flex;
    justify-content: space-between;
    border: 1px solid #edeff1;
    border-top: none;
    padding: 10px;
    border-left: none;
    border-right: none;
    margin: 10px;
    width: 90%;
    color: #1c1c1c;
}

.exit-comm-modal {
    border: none;
    background-color: white;
    color: #7c7c7c;
}

.comm-name-label {
    display: flex;
    border: 1px solid red;
}

.comm-name-input {
    display: flex;
    border: 1px solid green;
}

.community-type {
    display: flex;
    border: 1px solid red;
}