.create-comm-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: white;
    margin-top: 60px;
    border-radius: 4px;
    /* padding-left: 100px; */
    width: 555px;
    height: 550px;
}

.community-type {
    display: flex;
    flex-direction: column;
}