
.community-card {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid #f6f7f8;
    border-left: none;
    border-right: none;
    height: 100%;
    width: 500px;
}

.community-li {
    display: flex;
    width: 100%;
    border: 2px solid #f6f7f8;
    background-color: white;
    height: 60px;
    border-bottom: none;
    font-size: 20px;
}

.community-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}

.numbered-li {
    margin-left: 20px;
    font-size: 18px;
}

.community-name-btn {
    margin-left: 25px;
    font-size: 18px;
}

.join-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

