
.community-card {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid #f6f7f8;
    border-left: none;
    border-right: none;
    height: 100%;
    width: 500px;
}

.community-li {
    background-color: white;
    height: 40px;
}

.community-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}