.main-communities-feed {
    display: flex;
    justify-content: center;
}

.community-label-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 500px;
    background-color: #f6f7f8;
    border: none;
    border-bottom: none;
    border-radius: 3px 3px 0px 0px;
}

.community-ol {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-bottom: none;
}