.main-communities-feed {
    display: flex;
    justify-content: center;
}

.community-label-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 500px;
    background-color: white;
}

.community-ul {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}