.main-modal-login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: white;
    border-radius: 4px;
    /* padding-left: 100px; */
    width: 500px;
    height: 500px;
}

.message-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.main-modal-login-div h1{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

.main-modal-login-div h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 120px;
}

#modal-login-btn {
    color: black;
    height: 60px;
    width: 100px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}

#modal-signup-btn {
    height: 60px;
    width: 100px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}