

.edit-page {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 155vh;
    background-color: #dae0e6;
}

.form-wrapper {
    /* border: 1px solid black; */
    width: 35vw;
    margin: 0px 10px;
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 10px 0px 10px 0px;
    background-color: hsl(214, 19%, 93%);
    border: 1px solid hsl(214, 19%, 93%);

}

.dropped-img {
    width: 200px;
    height: 200px;
}

#drop_zone {
    border: 5px solid blue;
    background-color: white;
    width:  300px;
    height: 50px;
  }

.title-div input {
    width: 90%;
    border: 1px solid hsl(214, 19%, 93%);
    border-radius: 4px;
}

.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid green; */
    border-radius: 4px;
    padding: 10px 0px;
    background-color: hsl(214, 19%, 93%);
}

.body-div textarea {
    width: 90%;
    height: 200px;
    border-radius: 4px;
    resize: none;
    border: 1px solid hsl(214, 19%, 93%);

}

textarea:focus {
    border: 1px solid rgba(168, 167, 167, 0.513);
}

.image-div{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    margin: 10px 0px;
}

.btn-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    background-color: hsl(214, 19%, 93%);

}

#post-btn {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px rgba(0, 0, 0, 0.493) solid;
    border: 1px solid hsl(214, 19%, 93%);
    background-color: white;

}

.right-wrapper {
    height: 95vh;
    border: 1px solid red;
    width: 15vw;
}

.create-post-title {
    /* border: 1px solid purple; */
    margin: 150px 0px 0px;
    display: flex;
    justify-content: space-around;
    background-color: hsl(214, 19%, 93%);

}

.create-post-title h3{
    font-weight: 200;
    font-size: 14px;
    /* margin-left: 20px; */
}

.post-container {
    background-color: hsl(214, 19%, 93%);
    height: 336px;
    box-shadow: 0px 0px 4px 1px rgba(216, 214, 214, 0.918);
    border-radius: 6px;

}

