.vote-div {
    width: inherit;
}

.main-votes-div {
    padding-left: 1px;
}

.votesss {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: transparent;
}

.voteIcon {
    position: relative;
    width: 44px;
    height: 25px;
    display: inline-block;
}

.voteIcon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.fill-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.fill-wrapper.static {
    color: #22C55E;
    height: 100%;
}

.fill-wrapper.active {
    color: #22C55E;
    height: 0%;
    animation: fillUp 0.25s ease-out forwards;
}

.fill {
    color: #3B82F6;
}

@keyframes fillUp {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}


#upvote {
    width: 37px;
    height: 25px;
}

#upvote-btn {
    position: relative;
    height: 39px;
}

#upvote-btn,
#downvote-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    width: inherit;
    color: #929596;
    margin-top: 0px;
}

.downVoteIcon {
    position: relative;
    width: 44px;
    height: 25px;
    display: inline-block;
}

.downVoteIcon svg {
    width: 100%;
    height: 100%;
    display: block;
}

.down-fill-wrapper {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.down-fill-wrapper.static {
    height: 100%;
}

.down-fill-wrapper.active {
    height: 0%;
    animation: fillDown 0.25s ease-out forwards;
}

.down-fill {
  position: absolute;
  inset: 0;
  color: #EF4444;
}

@keyframes fillDown {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

#downvote {
    width: 37px;
    height: 25px;
}

#downvote-btn {
    height: 39px;
}

.votes-label {
    display: flex;
    align-items: center;
}

#upvote-btn:hover {
    background-color: rgb(228, 228, 228);
}

#upvote-btn:hover {
    margin-top: 0px;
    background-color: rgb(228, 228, 228);
}

#downvote-btn:hover {
    background-color: rgb(228, 228, 228);
}

@media screen and (max-width: 850px) {
    .mobile-votes-div {
        display: none;
    }

    .votes-label {
        margin-left: 1px;
        margin-right: 5px;
    }


    .vote-div {
        display: flex;
        flex-direction: center;
        align-items: center;
        width: 50px;
    }

    #upvote {
        width: 44px;
        height: 25px;
    }

    .votesss {
        display: none;
    }

    #downvote {
        margin: 0px;
        width: 44px;
        height: 13px;
    }

    #downvote-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        color: #929596;
        width: 30px;
        position: static;
    }
}

@media screen and (min-width: 851px) {
    .mobile-votes {
        display: none;
    }
}