html {
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: white;
    border: 2px solid black;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap:  300px;
}

.search {
    height: 28px;
    width: 300px;
    border: 2px solid red;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    /* float: right; */
    width: 99vw;
}

.logo-home{
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-start; */
    border: 1px solid blue;
    /* float: left; */
    margin: 0px 30px;
}

.logo-home li {
    display: flex;
    justify-content: flex-start;
    padding: 0px 30px;
}

.logo-home a {
    text-decoration: none;
}

.right-side {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    width: 300px;
    margin-right: 7px;
}

.right-side li {
    list-style-type: none;
}

.right-side a {
    display: flex;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    list-style-type: none;
}

.nav-container ul {
    padding: 0;
}

.profile-options {
    background-color: #fff;
    float: right;
    position: absolute;
    z-index: 1;
    /* top: 100%; */
    right: 83%;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}