.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 99vw;
    background-color: #dae0e6;
    /* background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/summer-background-abstract-background-wallpaper-use-for-presentation_HDDYoJOhMg_thumb.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.main-feed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    width: 25vw;
}

.img-tage{
    height: 250px;
    width: 350px;
    border-radius: 4px;
}

.edit-image {
    display: flex;
    /* border: 1px solid red; */
    width: 280px;
    margin-left: 75px;
}

.post {
    display: flex;
    box-shadow: 0px 0px 4px 3px rgba(216, 214, 214, 0.918);
    box-shadow: 3px;
    border-radius: 4px;
    margin: 20px 100px 1px;
    width: 500px;
    height: 375px;
    background-color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #dae0e6; */
    border-radius: 4px;
    height: 1000px;
    width: 266px;
    margin: 20px 10px;
    /* background-color:  #dae0e6; */
}

.comm {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 1000px;
    width: 266px;
    /* background-color: ; */
}

.create-title h2 {
    display: flex;
    color: #929596;
    /* border: 1px  solid red; */
    padding-top: 40px;
}

.post-containerr {
    background-color: #ffffff;
    height: 336px;
    box-shadow: 0px 0px 4px 2px rgb(216 214 214 / 92%);
    border-radius: 6px;
    width: 600px;
    margin-right: 10px;
}

.create a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* text-decoration: none; */
    color: gray;
}

.links a {
    margin-bottom: 10px;
}

.links {
    display: flex;
    
    /* margin-top: 125px;
    margin-right: 20px;
    margin-left: 80px; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 8px;
}

.links a {
    margin-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.left-post {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%; 
    border-radius: 4px;
    border-right: 1px solid rgb(233, 233, 233);
    background-color: rgba(248, 248, 248, 0.513);
    /* border-radius: 6px; */
}

.right-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 99%;
    width: 89%;
    /* border: 1px solid green; */
    text-align: center;
}

.left-post button {
    border: 1px solid rgba(248, 248, 248, 0.513);
    background-color: rgba(248, 248, 248, 0.513);
}

.comm h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.left-post button:hover {
    cursor: pointer;
}

.button-div {
    display: flex;
    justify-content: flex-start;
    border-radius: 4px;
    /* background-color: red; */
}


.comm-header {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 100%;
    height: 50px;
}

.rows {
    border: 1px solid green;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communities {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    /* background-color: rgba(248, 248, 248, 0.513); */
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(216, 214, 214, 0.918);
    margin-bottom: 15px;
    background-color: white;
    color: rgb(104, 97, 97);
}

.create {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    box-shadow: 0px 0px 4px 1px rgba(216, 214, 214, 0.918);
    border-radius: 4px;
    background-color: white;   
    border: 1px solid rgba(248, 248, 248, 0.513);
    text-align: center;
    color: rgb(104, 97, 97);
}

.right-post a {
    text-decoration: none;
}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.button-div .edit-btn,
.button-div .delete-btn {
    margin-right: 10px;
    cursor: pointer;
}

.button-div button {
    display: flex;
    /* justify-content: flex-end; */
    background-color: white;
    border: transparent;
    border-radius: 4px;
    margin-left: 10px;
}

.left-post img {
    border-radius: 4px;
    height: 30px;
    width: 30px;
    /* background-color: ; */
}