.pagee {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 99vw;
    height: 125vh;
    background-color: #dae0e6;
    /* background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/summer-background-abstract-background-wallpaper-use-for-presentation_HDDYoJOhMg_thumb.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.posts {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 1px solid red; */
    position: relative;
    border-radius: 4px;
    margin: 100px 0px 10px;
    width: 600px;
    height: auto;
    background-color: white;
}

.newCommentEditForm {
    display: flex;
    /* border: 1px solid red; */
    height: auto;
    width: 200px;
}
.li {
   overflow-wrap: normal;
   list-style: none;
   margin-bottom: 10px;
}

.newCommentEditForm form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 300px;
    margin-right: 50px;
    /* margin-right: 500px; */
    overflow-wrap: break-word;
    /* border: 1px solid red; */
    overflow-wrap: break-word;

}

.deleteEditBtn {
    display: flex;
    justify-content: flex-end;
    /* float: right; */
    
}

.img-tag {
    height: 250px;
    width: 375px;

    margin-left: 80px;
    border-radius: 4px;
    
}

.btnsDiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
}

.commm { 
    overflow-wrap: anywhere;
    font-weight: 300;
    margin-left: 60px;
}

.comment .btnsDiv {
    display: flex;
}

.comment-form textarea {
    display: flex;
    resize: none;
    width: 300px;
    border-radius: 6px;
}

.comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: 10px 2px;
    font-size: 12px;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.error-div {
    display: flex;
    width: 250px;
    background-color: transparent;
    overflow-wrap:break-word;
}
.errors {
    display: flex;
    background-color: transparent;
    font-size: 12px;
    overflow-wrap: break-word;
}

.comment_on_comment{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
}

.comments button {
    display: flex;
    justify-content: flex-end;
}

.comments > h3 {
    margin-left: 30px;
    text-align: center;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 400px;
    margin-top: 20px;
    /* background-color: white; */
    /* border: 1px black solid; */
}

.main-feed-containers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px;
    width: 600px;
}

.post-body {
    margin: 15px 0px 10px;
    /* border: 1px solid green; */
    font-size: 11px;
    overflow-wrap: break-word;
}

#post-btnsss {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 80px;
    border: 1px rgba(0, 0, 0, 0.493) solid;
    border: 1px solid hsl(214, 19%, 93%);
    background-color: white;
    cursor: pointer;
    width: 150px;
}

.comment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 110px;
    /* border: 2px solid rgba(83, 83, 83, 0.308); */
}